* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

$color-primary: #1D1E28;
$color-primary-dark: #14161C;
$color-primary-light: #14161C;
$color-text: white;
$color-secondary: #5950E8;
$color-secondary-dark: #5950E8;
$color-secondary-light: #5950E8;

table {
  background-color: transparent;
  
  th {
    border: 1px solid white;
    text-align: center;
  }
  td {
    text-align: center;
    border: 1px solid white;
  }
}

.manage-pizza-card {
  z-index: 1;
  width: 500px;
  border-radius: 10px;

  box-shadow: 0 0 10px black;
  background: #14161C;
  margin: 5% auto;
  text-align: center;

  .mat-card-header .mat-card-title {
    font-size: 2em;
  }

  .field-lable {
    font-weight: 400;
    text-align: left;
    margin-left: 18px;
    margin-bottom: 0px;
  }

  .slider-container {
    width: 90%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    font-family: cursive;
    padding: 15px;

    ::ng-deep .mat-card-header {
      display: block;
    }

    ::ng-deep .mat-card-header-text {
      padding: 10px;
    }

    ::ng-deep .ngx-slider .ngx-slider-bar {
      opacity: 0.8 !important;
      border-radius: 30px !important;
    }
  }

  ::ng-deep .mat-step-icon {
    background-color: #757575 !important;
  }

  ::ng-deep .mat-step-icon-selected {
    background-color: $color-secondary !important;
  }

  ::ng-deep .mat-step-label {
    color: white !important;
  }

  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
    width: 90%;
  }

  ::ng-deep.mat-form-field {
    width: 90%;
  }

  .show-password-icon {
    cursor: pointer;
  }

  .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
  }

  ::ng-deep .mat-form-field-label {
    color: white !important;

  }

  ::ng-deep .mat-stepper-vertical-line::before {
    border-left-color: white;
  }
}