<mat-card class="manage-pizza-card">
  <mat-card-header>
      <mat-card-title>Pizza menu items</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table mat-table [dataSource]="pizzaDataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let pizza">{{ pizza.name }}</td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let pizza">{{ pizza.description }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let pizza">{{ pizza.price }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <form class="example-form" [formGroup]="pizzaForm">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Pizza Name">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput formControlName="description" placeholder="Pizza Description">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input type="number" matInput formControlName="price" placeholder="Price">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addPizza()">Update</button>
</mat-card-actions>
</mat-card>