$color-primary: #1D1E28;
$color-primary-dark: #14161C;
$color-primary-light: #14161C;
$color-text: white;
$color-secondary: #5950E8;
$color-secondary-dark: #5950E8;
$color-secondary-light: #5950E8;

* {
    color: white;
}

mat-vertical-stepper {
    background-color: transparent;
    color: white;


    ::ng-deep .mat-step-icon {
        background-color: #757575 !important;
    }

    ::ng-deep .mat-step-icon-selected {
        background-color: $color-secondary !important;
    }

    ::ng-deep .mat-step-label {
        color: white !important;
    }

    ::ng-deep.mat-form-field-underline {
        /*change color of underline*/
        background-color: white !important;
    }

    .show-password-icon {
        cursor: pointer;
    }

    .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: white !important;
    }

    ::ng-deep .mat-form-field-label {
        color: white !important;
    }

    ::ng-deep .mat-stepper-vertical-line::before {
        border-left-color: white;
    }
}