<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="nameFormGroup">
    <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Fill out your full name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Full name" formControlName="fullNameCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="emailFormGroup">
    <form [formGroup]="emailFormGroup">
      <ng-template matStepLabel>Fill out your email</ng-template>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="emailCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="passwordFormGroup">
    <form [formGroup]="passwordFormGroup">
      <ng-template matStepLabel>Fill out your password</ng-template>
      <mat-form-field>
        <input matInput [type]="(isPasswordShown)? 'text': 'password'" placeholder="Password"
          formControlName="passwordCtrl" required>
        <i-feather class="show-password-icon" matSuffix [name]="(isPasswordShown)? 'eye-off': 'eye'"
          (click)="isPasswordShown = !isPasswordShown"></i-feather>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirm password" formControlName="confirmPasswordCtrl" required>
        <i-feather matSuffix name="eye" style="visibility: hidden"></i-feather>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="dobFormGroup">
    <form [formGroup]="dobFormGroup">
      <ng-template matStepLabel>Fill out your date of birth</ng-template>
      <mat-form-field>
        <input matInput [matDatepicker]="dobPicker" placeholder="Date of Birth" formControlName="dobCtrl" required>
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker></mat-datepicker>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="genderFormGroup">
    <form [formGroup]="genderFormGroup">
      <ng-template matStepLabel>Fill out your gender</ng-template>
      <mat-radio-group formControlName="genderCtrl">
        <mat-radio-button [value]="'female'">Female</mat-radio-button>
        <mat-radio-button [value]="'male'">Male</mat-radio-button>
        <mat-radio-button [value]="other">Other</mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="register()">Next</button>
    </div>
  </mat-step>
</mat-vertical-stepper>