<mat-card class="manage-pizza-card">
  <mat-card-header>
      <mat-card-title>Order your pizza!</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="orderDataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Order</th>
        <td mat-cell *matCellDef="let order">{{ order }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <form class="example-form" [formGroup]="orderForm">
      <mat-form-field>
        <mat-label>Select a order</mat-label>
        <mat-select formControlName="order">
          <mat-option *ngFor="let pizzaItem of pizzaItems" [value]="pizzaItem.name">{{pizzaItem.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addOrder()">Order</button>
</mat-card-actions>
</mat-card>