.screen-one {
    z-index: 0;
    width: 100%;
    animation: fadein2 1s ease-in-out;
}

.screen-two {
    position: absolute;
    right: 24%;
    top: 27%;
    z-index: 0;
    width: 15%;
    animation: fadein 1s ease-in-out;
}

.round-shape-one {
    width: 20px;
    height: 20px;
    border: 3px solid #fe8f8f;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 36%;
    z-index: 0;
    animation: animationFramesOne 3s infinite linear;
}
.round-shape-two {
    width: 15px;
    height: 15px;
    background: #d5eeff5c;
    border-radius: 50%;
    position: absolute;
    top: 23%;
    left: 8%;
    z-index: 0;
    animation: animationFramesOne 8s infinite linear;
}
.round-shape-three {
    position: absolute;
    right: 26%;
    bottom: 20%;
    width: 10px;
    height: 10px;
    z-index: 0;
    border-radius: 50%;
    background: #ddabf6;
    animation: animationFramesOne 8s infinite linear;
}

.container {
    margin: 0 auto;
    width: 80%;
    .warpper {
        display: flex;
        padding: 10% 10px 70px;
        align-items: center;
    }
    .main-title {
        width: 90%;
        padding: 25px 0 35px;
        font-size: 3em;
        font-weight: 600;
        color: #e8e8ed;
        margin: 0;
        z-index: 1;
    }
    .sub-title {
        width: 60%;
        margin: 0;
        font-size: 20px;
        line-height: 32px;
        color: white;
        padding-bottom: 28px;
        z-index: 1;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            line-height: 50px;
            text-align: center;
            border-radius: 10px;
            color: #FFF;
            background: linear-gradient(-135deg, 
            #14161C 0%,
            #2c2d32 100%);
            margin-right: 30px;
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 5px;
            animation: fadein3 1s ease-in-out;
        }
    }
}

::ng-deep .feather-chevron-right {
    margin-bottom: -6px;
}

@keyframes animationFramesOne {
    0% {
        transform: rotate(0deg) translate(80px);
    }
    100% {
        transform: rotate(360deg) translate(80px);
    }
}

@keyframes fadein {
    0% {
        transform: translateY(-480px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes fadein2 {
    0% {
        transform: translateY(-100px) translateX(60px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}
@keyframes fadein3 {
    0% {
        transform: translateX(-250px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .screen-one {
        display: none;
    }
}