<div style="color: white; width: 100%; height: 100%; ">
    <div class="round-shape-one"></div>
    <div class="round-shape-two"></div>
    <div class="round-shape-three"></div>
    <div class="container">
        <div class="warpper">
            <div>
                <h1 class="main-title">
                    Bezeq's High-Tech Pizzeria
                </h1>
                <p class="sub-title">
                    Experience the Future of Pizza with Bezeq's High-Tech Pizzeria. Enjoy our delicious, innovative, and
                    high-quality pizzas that cater to everyone's dietary needs. Order online from the comfort of your
                    home and receive timely and professional delivery service from our team of skilled pizza chefs and
                    drivers. Come and taste the future of pizza today!
                </p>
                <ul>
                    <li class="click">
                        <a style="width: 100%; margin: 0 auto;"> Let's talk <i-feather
                                name="chevron-right"></i-feather></a>
                    </li>
                    <li>
                        <p style="margin: 0;">Bezeq company
                    </li>
                    <li style="margin-left: 10px; color: white;">
                        <p style="margin: 0;">Gal Cohen</p>
                    </li>
                </ul>
            </div>
            <div class="screen-one">
                <img style="width: 100%;" src="../../../assets/pizza_gidi.png">
            </div>

        </div>
    </div>
</div>