<mat-card class="manage-pizza-card">
  <mat-card-header>
      <mat-card-title>Pizza orders</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
    <table mat-table [dataSource]="orderDataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Customer name</th>
        <td mat-cell *matCellDef="let order">{{ order.name }}</td>
      </ng-container>
      <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef>Order</th>
        <td mat-cell *matCellDef="let order">{{ (!order.order)? 'None': order.order }}</td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let order">        <mat-select>
          <mat-option>In preparation</mat-option>
          <mat-option>Ready</mat-option>
          <mat-option>Delivered</mat-option>
          <mat-option>Canceled</mat-option>
        </mat-select></td>
        <mat-label>Select a order</mat-label>

      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addOrder()">Update</button>
</mat-card-actions>
</mat-card>