$color-primary: #1D1E28;
$color-primary-dark: #14161C;
$color-primary-light: #14161C;
$color-text: white;
$color-secondary: #5950E8;
$color-secondary-dark: #5950E8;
$color-secondary-light: #5950E8;

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.login-page-container {
  z-index: -1;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#3d53de, #55b2ff);
  .panel {
    z-index: 1;
    width: 400px;
    border-radius: 10px;

    box-shadow: 0 0 10px black;
    background: #141519;
    margin: 10% auto;
    text-align: center;

    .state {
      margin-top: 5px;
      width: 100%;
      height: 155px;
      color: white;
      font-size: 20px;
    }

    .change-state-lable {
      margin-top: 30px;
      font-size: 14px;
      margin-bottom: 20px;
      color: #616973;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}