<div class="login-page-container">
    <div class="panel">
        <div class="state"><br><i-feather [name]="(displayLogin)? 'lock': 'book-open'"></i-feather><br>
            <h1>{{(displayLogin)? 'Login': 'Register'}}</h1>
        </div>
        <login-panel *ngIf="displayLogin"></login-panel>
        <register-panel *ngIf="!displayLogin"></register-panel>
        <div class="change-state-lable" (click)="displayLogin = !displayLogin">{{(displayLogin)? 'Not registered?': 'Back to login'}} </div>
    </div>
</div>