<div class="form">
    <input placeholder='Email' [(ngModel)]="loginRequest.email" type="text">
    <input placeholder='Password' [(ngModel)]="loginRequest.password" type="password">
    <div class="login" (click)="signIn()"> Login</div>
    <p class="warning" *ngIf="logInWarning"> Details are incorrect</p>
    <p class="warning" *ngIf="serverDisconnected"> Server is disconnected</p>
</div>