.form {
    width: 340px;
    margin: 5px auto;

    .warning {
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        font-size: 12px;
    }
}
.login {
    height: 45px;
    width: 100%;
    background-image: linear-gradient(#3d53de, #55b2ff);
    -webkit-border-radius: 45px;
       -moz-border-radius: 45px;
            border-radius: 45px;
    position: relative;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: background .2s;
       -moz-transition: background .2s;
         -o-transition: background .2s;
            transition: background .2s;
    cursor: pointer;
  }
  .login:active {
    -webkit-transform: translateY(2px);
       -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
         -o-transform: translateY(2px);
            transform: translateY(2px);
  }
input {
    color: white;
    outline: none;
    background-color: #22232a;
    -webkit-border-radius: 45px;
       -moz-border-radius: 45px;
            border-radius: 45px;
    font-size: 15px;
    height: 45px;
    border: none;
    padding-left: 15px;
    width: -webkit-calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    width: calc(100% - 15px);
    margin-bottom: 10px;
  }