
* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
  }
  input {
    outline: none;
  }
  
  .background-div {
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#3d53de, #55b2ff);
  }
  
  