html {
    background-color: #000;
}
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: black;
    border-radius: 10px;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: black;
    background-image: -webkit-gradient(linear,
                                      40% 0%,
                                      75% 84%,
                                      from(rgb(65, 225, 147)),
                                      to(rgb(28, 174, 153)),
                                      color-stop(.6,rgb(56, 182, 181)))
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
