$color-primary: #1D1E28;
$color-primary-dark: #14161C;
$color-primary-light: #14161C;
$color-text: white;
$color-secondary: #5950E8;
$color-secondary-dark: #5950E8;
$color-secondary-light: #5950E8;

$sidebar_open_width: 260px;
$sidebar_collapse_width: 80px;
$sidebar_header_logo_width: 120px;
$sidebar_header_logo_height: 120px;
$sidebar_header_small_logo_width: 60px;
$sidebar_header_small_logo_height: 60px;

$sidebar_collapse_duration_ms: 500ms;
$sidebar_open_replace_icon_duration_ms: 1s;
$sidebar_open_text_visible_duration_ms: 1s;

$sidebar_item_hover_background_color_dark: #16171E;


.sidebar-menu {
    
    --sidebar-bg-color: #($color-primary);
    --sidebar-text-color: #{$color-text};
    --sidabar-item-hover-border-color:#{$color-secondary-dark};
    --notification-counter-color:#{$color-secondary-dark};
    --sidebar-item-hover-bg-color: #{$sidebar_item_hover_background_color_dark};

    background: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);

    &-shadow {
        -webkit-box-shadow: 1px 0 30px rgba(0, 0, 0, .1);
        box-shadow: 1px 0 30px rgba (0, 0, 0, .1);
    }

    &-fixed {
        position: fixed;
        z-index: 3;
        top: 0;
        height: 100vh;
    }

    &-dark {
        --sidebar-bg-color: #{$color-primary};
        --sidebar-text-color: #{$color-text};
        --sidabar-item-hover-border-color: #{$color-secondary-dark};
        --notification-counter-color: #{$color-secondary-dark};
        --sidebar-item-hover-bg-color: #{$sidebar_item_hover_background_color_dark};
        
        background: var(--sidebar-bg-color);
        color: var(--sidebar-text-color);

        a {
            color: $color-text;
        }


    }

    &-header {
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .logo {
            width: $sidebar_header_logo_width;
            height: $sidebar_header_logo_height;
        }

        .menu-icon {
            cursor: pointer;
            position: absolute;
            bottom: 10px;

        }
        .bamza-icon {
            position: absolute;
            bottom: 45px;
            width: 100px;
            height: 100px;
        }

    }

    &-content {

        padding-top: 20px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .nav-item {
            cursor: pointer;
            padding: 18px 30px 18px 30px;
            a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start; // text-align: center:
                text-decoration: none;
                h4 {

                    flex-grow: 2;
                    margin: 0;
                    padding-left: 20px; // padding-top: 2px;
                }
                .notification-label {
                    margin-left: 5px;
                    align-self: center;
                    text-align: center;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: .7rem;
                    &.notification-label-blue {
                        background: var(--notification-counter-color);
                    }
                }

            }

            &:hover {
                border-left: 3px solid var(--sidebar-item-hover-bg-color);
                background-color: var(--sidebar-item-hover-bg-color);

            }
        }
    }

    &-collapse {
        width: $sidebar_collapse_width;

        -webkit-transition: all $sidebar_collapse_duration_ms ease-in-out;
        -moz-transition: all $sidebar_collapse_duration_ms ease-in-out;
        -ms-transition: all $sidebar_collapse_duration_ms ease-in-out;
        -o-transition: all $sidebar_collapse_duration_ms ease-in-out;

        .sidebar-menu-header {
            h3 {
                display: none;
            }
            .logo {
                margin: 0 auto;
                content: url('../../../assets/logo-small.png');
                width: $sidebar_header_small_logo_width;
                height: $sidebar_header_small_logo_height;
            }
            .bamza-icon {
                width: 50px;
                height: 50px;
            }
            .big {
                display: none;
            }
        }
        .nav-item {
            a {
                margin: 0 auto;
                h4 {
                    opacity: 0;
                    visibility: hidden;

                }
                .notification-label {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    &-opened {
        width: $sidebar_open_width;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -ms-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
    
        .sidebar-menu-header {
            .logo, .bamza-icon {
                -webkit-transition: width $sidebar_open_replace_icon_duration_ms ease-in-out;
                -moz-transition: width $sidebar_open_replace_icon_duration_ms ease-in-out;
                -ms-transition: width $sidebar_open_replace_icon_duration_ms ease-in-out;
                -o-transition: width $sidebar_open_replace_icon_duration_ms ease-in-out;
            }
        }
    
        .nav-item {
            a {
                h4, .notification-label {
                    opacity: 1 !important;
                    -webkit-transition: opacity $sidebar_open_text_visible_duration_ms ease-in-out;
                    -moz-transition: opacity $sidebar_open_text_visible_duration_ms ease-in-out;
                    -ms-transition: opacity $sidebar_open_text_visible_duration_ms ease-in-out;
                    -o-transition: opacity $sidebar_open_text_visible_duration_ms ease-in-out;
                }


            }
        }
    }

    .active-link  {
        border-left: 3px solid var(--sidebar-item-hover-bg-color);
        background-color: var(--sidebar-item-hover-bg-color);
    }

}

::ng-deep .swal2-radio {
    color: white;
    background-color: #1D1E28;
	display: grid !important;
    text-align: left !important;
    ::ng-deep label, .swal2-checkbox label {
        margin-bottom: 30px;
    }
}

