<div class="sidebar-menu sidebar-menu-dark sidebar-menu-shadow sidebar-menu-fixed"
    [ngClass]="_appState.getSideBarStatus() ? 'sidebar-menu-opened': 'sidebar-menu-collapse'">
    <div class="sidebar-menu-header">
        <img class="logo" src="../../../assets/logo-small.png">
        <img class="bamza-icon" src="../../../assets/logo-small.png">
        <i-feather name="align-justify" class="menu-icon" (click)="toggleSideBar()"></i-feather>
    </div>
    <div class="sidebar-menu-content">
        <ul>
            <li *ngIf="isAdmin" [routerLink]="['/home/manageMenuItems']" class="nav-item" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <a>
                    <div class="icon">
                        <i-feather name="pie-chart"></i-feather>
                    </div>
                    <h4>Manage pizza</h4>
                </a>
            </li>
            <li *ngIf="isAdmin" [routerLink]="['/home/manageOrders']" class="nav-item" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <a>
                    <div class="icon">
                        <i-feather name="list"></i-feather>
                    </div>
                    <h4>Manage orders</h4>
                </a>
            </li>
                <li [routerLink]="['/home/createOrder']" class="nav-item" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <a>
                    <div class="icon">
                        <i-feather name="check-circle"></i-feather>
                    </div>
                    <h4>Order pizza</h4>
                </a>
            </li>
            <li [routerLink]="['/home/about']" class="nav-item" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{exact: true}">
                <a>
                    <div class="icon">
                        <i-feather name="info"></i-feather>
                    </div>
                    <h4>About</h4>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
                (click)="logout()">
                <a style="cursor: pointer;">
                    <div class="icon">
                        <i-feather name="log-out"></i-feather>
                    </div>
                    <h4>Logout</h4>
                </a>
            </li>
        </ul>
    </div>
</div>